:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --height-footer-contact:222px;
    --height-footer-contact-tablet:300px;
    --height-footer-contact-mobile:300px;
}
@font-face {
    font-family:font_main;
    src:url('../fonts/font/Integral-CF/Demo_Fonts/Fontspring-DEMO-integralcf-bold.otf') format('truetype');
    font-weight:normal;
    font-style:normal;
   }
   @font-face {
    font-family:font_sub;
    src:url('../fonts/font/Integral-CF/Demo_Fonts/Fontspring-DEMO-integralcf-bold.otf') format('truetype');
    font-weight:normal;
    font-style:normal;
   }
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
   font-family: font_sub;
}
h1{
    font-family: font_main;
}
p {
    font-size: 1.6rem;
    margin: 0
}
body {
    margin: 0;
    padding: 0;
}
/* Class */
.c-black{
    color: #000;
    margin: 0;
}
.fs-16{
    font-size: 1.6rem;
}
.fs-40{
    font-size: 4rem;
}
.fs-20{
    font-size: 2rem;
}
/* Class end */
/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }

    to {
        transform: scale(var(--growth-to));
    }
}