.home-casual{
    padding-bottom: 100px;
}
.casual-filters{
    padding: 20px 24px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);
}
.casual-filters__name{
    color: #000;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.casual-price{
    padding-bottom: 20px;
}
.casuals-price__name{
    color: #000;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.casuals-price__icon{

}
#slider-div {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    position: relative;
    padding-bottom: 2px;
  }

  .slider-label {
    position: absolute;
    font-size: 1.4rem;
    transform: translateX(-50%); 
  }
  .slider.slider-horizontal{
    width: 100%;
  }
  .slider-handle{
    background-image: linear-gradient(to bottom, #000, #000);

  }
  .casual-colors__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .casual-colors__name{
    color: #000;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .casual-colors__chooseColors-wrap{
    margin-top: 20px;
   
  }
  .casual-colors__chooseColor{
    width: 38px ;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
  }

.casual-colors__chooseColor--green{
  background-color:#00C12B ;
}
.casual-colors__chooseColor--red{
background-color:#F50606;
}

.casual-colors__chooseColor--yellow{
background-color: #F5DD06;
}

.casual-colors__chooseColor--orange{
background-color: #F57906;
}

.casual-colors__chooseColor--blue{
background-color:#06CAF5 ;
}

.casual-colors__chooseColor--darkBlue{
background-color: #063AF5;
}

.casual-colors__chooseColor--purple{
background-color:#7D06F5 ;
}

.casual-colors__chooseColor--pink{
background-color: #F506A4;
}

.casual-colors__chooseColor--white{
background-color: #FFFFFF;
}

.casual-colors__chooseColor--black{
background-color: #000000;
}
.casual-colors__chooseColor--active{

}
.casual-colors__chooseColor__icon--active{

 font-size: 16px;
 color: #ffffff;
}
.casual-size__name{
  color: #000;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.casual-size-chooseSize-wrap{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.casual-size__choseSize{
  display: flex;
padding: 10px 20px;
justify-content: center;
align-items: center;
border-radius: 62px;
background: #F0F0F0;
color: rgba(0, 0, 0, 0.60);
font-size: 1.4rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.casual-size__choseSize:nth-child(n-1){
  margin: 0 8px 8px 0;
}
.casual-dressStyle__name{
  color: #000;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.casual-dressStyle-list{
  padding-left: 0;
  margin-top: 20px;
}
.casual-dressStyle-item{
  list-style: none;
}

.casual-dressStyle__link{
  display: flex;
  justify-content: space-between;
  align-self: center;
  text-decoration: none;
  padding: 10px 0;
}
.casual-dressStyle__link:hover{
  background-color:#ADD8E6 ;
  cursor: pointer;
}
.casual-dressStyle__link-name{
  color: rgba(0, 0, 0, 0.60);
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.btn-applyFilters{
  display: flex;
height: 48px;
padding: 16px 54px;
justify-content: center;
align-items: center;
gap: 12px;
flex-shrink: 0;
align-self: stretch;
border-radius: 62px;
background: #000;
color: #FFF;
font-size: 1.4rem;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 100% ;
margin-top: 24px;
margin-bottom: 6px;
border: 1px solid #ccc;
}
.btn-applyFilters:hover{
  background-color: #ADD8E6;
  color: #000;
}
.casual-size__choseSize:hover{
  cursor: pointer;
  background-color: #ADD8E6;

}
.casual-colors__chooseColor:hover{
  opacity: 0.6;
  cursor: pointer;
}
.casual-product-heading-wrap{
  display: flex;
  justify-content: space-between;
  align-items:baseline;
}
.casual-product-heading__name{
  color: #000;
font-size: 3.2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.casual-product-heading__sort{
  color: rgba(0, 0, 0, 0.60);
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.casual-product-heading__sort-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}
.casual-product-heading__sort-choose{
  color: #000;
font-size: 1.6rem;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 6px;
}
.casual-product-heading__sort-choose:hover{
  cursor: pointer;
  opacity: 0.6;
}
.casual-row-product{
  margin-top: 10px;
}

.casual-product-heading__filters{
  display: flex;

padding: 14px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
border-radius: 62px;
background: #F0F0F0;
margin-left: auto;
}
.casual-product-heading__filters:hover{
  opacity: 0.6;
}
.pagination-icon-arrow-left{
 margin-right: 8px;
}
.pagination-icon-arrow-right{
  margin-left: 8px;
 }

.page-item{
 
}
.page-link{
  color: #000;
font-size: 1.4rem;
font-style: normal;
font-weight: 500;
line-height: 20px;
border-radius: 8px !important;
padding: 8px 12px;
}

.page-item__wrap>.page-item>.page-link{
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
border: none;
}
.page-link--active{

background: rgba(0, 0, 0, 0.06);
}
.casual-filters-wrap{
 
}