/* PC */
@media(min-width:1023px){
    .hide-on-pc{
        display: none ;
    }
  
    .carousel-cell__customers{
        padding: 0 10px;
    }
    .casual-colors-chooseColor-wrap:nth-child(n+6){
        margin-top: 16px;
      }
}
/* Mobile & Tablet */
@media(max-width:1023px){

    .hide-on-mobile-tablet{
        display: none;
    }
    .btn__shopNow{
        width: 100%;
    }
    .footer-contact{
        margin-left: 16px;
        margin-right:16px ;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .footer-contact__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .header__wrap{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .header-mobile-select{
        height: 100%;
        display: flex;
        align-items: center;
        padding-right: 12px;
    }
    .header-mobile-select:hover .header-mobile-select-show{
        display: flex;
    }
    .header-mobile-select__icon{
        margin: 2px 0 0 0;
        font-size: 2rem;
    }

    .d-f-n-w{
        flex-wrap: nowrap;

    }
    .o-f-x-a{
        overflow-x: auto;
    }
    .content__footer {
        margin-bottom: 0;
    }
    .details-img__main{
        order: 1
        ;
    }
    .details-img__sub{
        display: flex;
        justify-content: center;
        align-items: center;
        order: 2;
        margin-top: 12px;
        margin-bottom: 20px;
    }
    .details-img__sm:nth-child(2){
        margin: 0 12px;
    }
    .casual-product-heading__sort-wrap{
        margin-left: 8px;
      }
      .modal-content-filters{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    
    }
    .casual-colors-chooseColor-wrap:nth-child(n+7) {
        margin-top: 16px;
    }
    .carts-wrap-two{
        margin-top: 20px !important;
    }
    .offcanvas-SignIn{
        width: 75% !important;
    }
    .header__navbar-list{
        flex-direction: column;
        align-items: flex-start;
    }
    
.header__navbar-item:nth-child(n+2) {
    margin-left: 0;
}
.header__navbar-item{
    width: 100%;
}
.header__navbar-link{
    display: block;
    width: 100%;

}
.header__navbar-list {
    margin: 0;
}

}


/* Tablet */
@media (min-width:740px) and (max-width:1023px){
    :root{
        --navbar-height: 0px;
        --header-height: 66px;
    }
.hide-on-tablet{        
    display: none;
}
.home-customers__cart{
    height: 300px;
}
.quality__list{
    margin-top: 30px;
}
.footer-contact__title{
    text-align: center;
}
.footer-contact__wrap {
    width: 600px;     
    height: 60px;    
}
.footer-contact__btn {
    width: 600px;
    font-size: 2rem;
    height: 60px;
}
.footer-contact__input {
    font-size: 2rem;}
    .footer-contact__emailIcon {         
        width: 28px;
        height: 28px;
        background-size: 26px;
    }
    .footer-info__socials{
        margin-bottom: 30px;
    }
    .footer-info__list{
        margin-bottom: 30px;
    }
    .header__search{
      padding-left: 20px;
      padding-right: 20px;
    }
    .header__logo-auth{
        margin-left: -6px;
        margin-right: -6px;
    }
    .header__logo-auth-link {
        padding: 0px 6px;
    }   
    .footer-info__title {
        margin: 0 0 10px 0;}
        .header-mobile-select__icon {
            font-size: 2.4rem;
        }
        .footer-copyright{
            padding-bottom: 100px;
        }
        .footer-contact__title {
            font-size: 3rem;
margin: 28px 14px 24px 14px;
            line-height: 40px;
        }
        .footer-contact__form {
            margin: 0 14px 24px 14px;
        }
        .footer-contact {
            height: var(--height-footer-contact-tablet);
      
            top: calc(var(--height-footer-contact-tablet) / -2);
        }
        .home-customers {
            margin-bottom: 210px;}
           
                .footer-info {
                    padding: 180px 0 50px 0;
                }
                .btn__shopNow{
                    padding: 28px 54px;
                }
                .home-customers__body {
             
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 6;}
                    .carousel-cell__customers{
                        padding: 0 6px;
                    }
                    .brand__item {
                        padding: 6px 0px;
                    }
                    .casual-product-heading-wrap{
                        margin-bottom: 10px;
                    }
                    .modal-dialog-filters{
                        margin: 132px auto 0;
                    }
                    .path-details__text {
                        font-size: 2rem;
                    }
                    .path-details__icon {
                        margin: 4px 12px 0 6px;
                      
                        width: 20px;
                        height: 20px;
                    }
                    .casual-product-heading__filters {
                        padding: 18px
                    }
                    .header__navbar-link{
                        padding-left: 12px;
                    }
                    .details-products{
                        margin-top: 20px;
                    }
          
                  
}
/* Mobile */
@media(max-width:739px){
    .hide-on-mobile{
        display: none;
    }
.btn-content{
    margin: 24px 0 22px 0;
    
}
.btn__shopNow{
        display: flex;
        width: 100%;
        height: 52px;
        padding: 16px 54px;
    }
    .btn-close{
        top: 0;
        right: 0;
        font-size: 16px;
        padding: 10px;
    }
.header-with-search {
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 16px;
        
    }

.header__noti-close{
    display: none;
}

.header__navbar-link{

    padding-left: 8px;
}
.header__navbar-link:hover{
    opacity:0.7;
}
.app-container{
    padding: 6px;
}


.quality__item {
  
    margin: 10px; 
}
.quality__item:nth-child(3) {
    flex-basis: 100%;
}


.img-main {
    height: auto;
    width: 100%;
    position:unset;
    display: none;
}
.home-body{
    padding-left: 16px;
    padding-right:16px;
}
.content__heading {
    font-size: 3.6rem;
    line-height: 3.4rem;
    margin-top: 40px;
        margin-bottom: 20px;
}
.quality__list {

    justify-content: space-evenly;
}
.header__noti-content{
    font-size: 1.2rem;
}
.header__noti-link{
    font-size: 1.4rem;
      
}
.header__logo-link{
    font-size: 2.4rem;
}

.brand__item-icon{
    height: 24px;
}
.brand__item{
    padding: 6px;
}
.heading__product{
    font-size: 3.2rem;
}
.home-product {
    margin-left: 16px;
    margin-right: 16px;
}
.footer-info {
    padding-top: 170px;
    margin-left: 16px;
    margin-right: 16px;
}
.footer-info__title{
    font-size: 2.8rem;
  } 

.footer-info__sub-tile{
    font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    color: rgba(0, 0, 0, 0.60);
}
.footer-info__socials {
    margin-bottom: 20px;
}
.footer-info__socials-icon {
    font-size: 2.4rem;
}
.footer-info__socials-link {
    padding: 4px;
}
.footer-info__menu-name {
    color: #000;
    font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer-info__item-link {
        color: rgba(0, 0, 0, 0.60);
        font-family: Satoshi;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }
    .footer-info__socials {
        margin-bottom: 22px;
        margin-top: 22px;
    }
.line {

        margin-left: 16px;
        margin-right: 16px;
    }
    .footer-copyright {
        justify-content: center;
    }
    .footer-copyright__text { 
        text-align:center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 12px;
    }
    .footer-copyright__list {
        justify-content: center;
        margin: 0;
    }
   
    .footer-contact__title {
        color: #FFF;
        font-size: 31px;

        font-weight: 700;
        line-height: 35px;

        margin: 32px 24px;
    }
    .footer-contact__form-input {
        width: 100%;
        color: rgba(0, 0, 0, 0.40);
font-size: 1.4rem;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
    .footer-contact__form-btn {
        width: 100%;
        color: #000;
      
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;    }
    /*  */
  
    .brand__list{
        margin: 0 12px;
    }
.home-product-item__name {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 12px 0 6px;
    }
    .home-product-item__star-icon{
       font-size: 1.2rem;
    }
.home-product-item__price {
        margin: 2px 0 4px 0;

        margin-top: 4px;
    }
    .home-product-item__price-real{
        font-size: 2rem;
    }
    .home-product-item__price-sale--blur{
        font-size: 2rem;
    }

    .home-product-item__price-sale{
        width: 42px;
        height: 20px;
        padding: 6px 14px;
    }

    .home-product-item__price-sale {
        font-size: 1rem;
    }
    .home-product-item__evaluate {
        font-size: 1.2rem;
    }
   
    .home-product-item__star-icon{
        font-size: 1.2rem;
    }
    .btn__viewALL{

width: 358px;
height: 46px;
padding: 16px 54px;

    }
    .home-customers__title {
     
      
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
    }
 
    .home-customers__cart {
        padding: 24px;
    height: 210px;
    }
.home-customers__star-icon{
    font-size: 1.4rem;
}
.home-customers__user{
    margin:12px 0;}
.home-customers__name {
    font-size: 1.6rem;
}
.home-customers__check{
    width: 19px;
    height: 19px;
    line-height: 19px;
}
.home-customers__body{
font-size: 1.4rem;
line-height: 20px; 
margin-top: 10px;
}
.home-customers__head {
    margin-top: 40px;
}
.home-customers__title{
    margin-top: 0;
}
.home-customers {
    margin-bottom: 180px;
    margin-top: 50px;
}
.header__noti-close{
    display: none;
}
.home-styles__item-wrap{
    height: 190px;
}
.home-styles__item {
    padding: 0 32px;
}
.home-styles__heading {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.6rem;
    padding: 40px 0;
}
.home-styles__item-name {
    font-size: 2.4rem;
    top: 20px;
    left: 20px;
}
.header__logo-auth-icon{
    font-size: 2rem;
    margin: 0 0 0 12px;
}
.footer-contact{
    height: var(--height-footer-contact-mobile);
    top: calc(var(--height-footer-contact-mobile) / -2);
}


.footer-contact__wrap{
    width: 320px;
    margin: 6px 0;
}
.footer-contact__input{
    font-size: 1.4rem;
    width: 100%;
    
}
.footer-contact__btn {
    font-size: 1.4rem;
    width: 320px;
    margin-bottom: 22px;
    margin-top: 6px;
    height: 42px;
}
.footer-contact__wrap{
    height: 42px;
}
.carousel-cell__customers {
    width: 100%;
}
.carousel-cell__product{
    width: 50%;
}
/* details begin */
.heading__productDetails{
    font-size: 3.7rem;
    line-height: 3.9rem;
    margin: 48px 0 42px 0;
}
.home-details{
    margin-left: 16px;
    margin-right:16px ;
}
.path-details{
    margin: 20px 0 24px 0;
}
.path-details__text{
    font-size: 1.4rem;
}
.line-home-details__mobile{
    margin-left: 0;
    margin-right:0 ;
}
.line-home-details__mobile-top{
    margin:0;
}


.details-img__l {
    height: 290px;
}
.details-img__sm{
    height: 106px;
}

.details-img-wrap{
    height: auto;
}
.home-product-item__evaluate__details{
    font-size: 1.4rem;
}
.home-product-item__price-real__details{
    font-size: 2.4rem;
}
.home-product-item__price-sale--blur__details{
    font-size: 2.4rem;
}
.home-product-item__price--sale__price__details{
    font-size: 1.4rem;
}
.details-product__text__details{
    font-size: 1.4rem;
    
}
.details-product__selectSize{
    padding: 10px 20px;
    font-size: 1.3rem;
}
.details-product__selectSize:nth-child(n+2) {
    margin-left: 8px;
}
.details-product-selectSize-wrap{
    justify-content: space-between;
    margin: 24px 0 0 0;
}
.details-product-quantity-wrap {
    padding: 12px 16px;
    width: 110px;
    height: 44px;
}
.details-product__quantity {
    font-size: 2rem;
}
.details-product-quantity__icon {
    font-size: 2rem;
    margin-top: 3px
}
.details-product__btnAddToCart {
    width: 220px;
    font-size: 1.4rem;
    height: 44px;
}
.details-body{
    margin-top: 50px;
}
.details-select__menu {
    font-size: 1.4rem;
}
.details-reviews__text{
    font-size: 1.8rem;
}
.details-reviews__quantity{
    font-size: 1.3rem;
}
.details-reviews__filterIcon{
    width: 20px;
    height: 20px;
}
.details-reviews__write {
    font-size: 1.2rem;
}
.details-reviews__filter-wrap{
padding: 12px 16px;
margin-left: 8px;
}
.details-product__name{
font-size: 2.4rem;
line-height: 2.8rem; 
}
.details-customers__body{
    margin: 0 0 16px 0;
}
.details-reviews__timePost{
    font-size: 1.4rem;
    line-height: 2.2rem;
}
.details-customers__cart{
    height: auto;
}
.details-btn__loadMoreRv{
    padding: 14px 36px;
    font-size: 1.4rem;
    width: auto;;
}
.details-btn__loadMoreRv-wrap{
    margin: 0;
}
.home-casual{
    margin-left: 16px;
    margin-right: 16px;
}
.casual-product-heading__name{
font-size: 2.4rem;
}
.casual-product-heading__sort{
    font-size: 1.4rem;
}
.page-link{
    font-size: 1.2rem;
}
.page-item__wrap>.page-item>.page-link{
 width: 36px;
 height: 36px;
  }
  .casual-product-heading-wrap{
    margin-bottom: 14px;
  }


.modal-dialog-filters{
    margin: 102px 0 0 0;
}
.home-cart{
    margin-left: 16px;
    margin-right: 16px;
}
.cart__heading {
    font-size: 3.2rem;
}
.cart-img-wrap{
    width: 100px;
    height: 110px;
}
.cart-body__name{
    font-size: 1.6rem;
}
.cart-body__size_text{
    font-size: 1.2rem;
}
.cart-body__color_text{
    font-size: 1.2rem;
}
.cart-body__price{
    font-size: 2rem;
}
.details-product__quantity{
    font-size: 1.4rem;
}
.cart-footer__icon__detele{
    font-size: 2rem;
}
.cart-order__heading{
    font-size: 2rem;
}
.cart-order-body__text{
    font-size: 1.6rem;
}
.cart-order-body__price__total{
    font-size: 2rem;
}
.cart-order-body{
    margin: 16px 0;
}
.cart-sale-code__icon{
    font-size: 2rem;
}
.cart-sale-code__input{
    font-size: 1.4rem;
}
.cart-sale-code__checkOut{
    margin-top: 16px;
    font-size: 1.4rem;
}
.cart-sale-code__checkOut__icon{
    font-size: 2rem;
}
.cart-sale-code__btnApply{
    font-size: 1.4rem;
}
.line-mt-mb-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.cart-footer-wrap{
    margin-top: 12px;
}

.offcanvas-body-signIn__heading{
    font-size: 2rem;
}
.form-signIn__input{
    height: 36px;
    font-size: 1.4rem;
}
.offcanvas-body-signIn__label {
    font-size: 1.4rem;
}
.offcanvas-body-signIn__check__input {
    width: 14px;
    height: 14px;
    margin: 4px 6px 0 3px !important;
}
.cart-wrap{
    padding-bottom: 16px;
    margin-bottom: 16px;
}

}